<div class="sm:px-0 md:px-16 lg:px-24 xl:px-32 p-4 font-serif text-grey-darkest leading-normal">
	<nav class="flex rounded items-center justify-between flex-wrap bg-teal p-4 mb-4">
		<h3 class="flex-1 text-center">EASTER EGG</h3>
	</nav>
	{{outlet}}
</div>